@keyframes fade_out_anim {
    to {
        opacity: 1;
        overflow: visible;
    }
}

@keyframes fade_in_anim {
    to {
        opacity: 0;
        overflow: hidden;
    }
}

#black_screen {
    opacity: 1;
    border: none;
    outline: none;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: visible;
}

#black_screen.dark {
    background-color: #111;
}

#black_screen.light {
    background-color: #fff;
}

#black_screen.faded {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
}

#black_screen.showing {
    animation: fade_in_anim 0.8s;
    pointer-events: auto;
}

#black_screen.hiding {
    animation: fade_out_anim 0.2s ease-out;
    pointer-events: auto;
}

.footer {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #000;
    display: grid;
    grid-template-columns: auto 150px;
    grid-gap: 30px;
}

.at_bottom {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    padding: 0;
    border: none;
    outline: none;
}

#bottomMessage {
    z-index: 98;
    color: #fff;
    padding: 15px;
    height: 60px;
}

#scrollTopButton {
    z-index: 99;
    height: 60px;
    background-color: red;
    color: #000;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
}

#scrollTopButton:hover {
    background-color: #555;
    color: #000;
}

.positionFixed {
    position: fixed;
}

.block {
    display: block;
}

.section_toggle {
    -webkit-appearance: button;
    -moz-appearance: button;
    /*appearance: button;*/
    font: 18px Verdana, sans-serif;
    text-decoration: none;
    border: 1px dashed #0f0;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
}

.section_toggle.light {
    border: 1px dashed #00f;
}

.section_toggle:hover {
    border-style: solid;
}

.clickable,
ul a,
menu a,
.internalLink {
    -webkit-appearance: button;
    -moz-appearance: button;
    /*appearance: button;*/
    font: 18px Verdana, sans-serif;
    text-decoration: none;
    border-width: 0;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
}

code {
    -webkit-appearance: button;
    -moz-appearance: button;
    /*appearance: button;*/
    text-decoration: none;
    border-width: 0;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
}

menu span {
    font: 18px Verdana, sans-serif;
    padding: 8px;
    display: inline-block;
}

.button_action,
button {
    font: 18px Verdana, sans-serif;
    border-width: 0;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    color: #f00;
    border-width: 0;
}

button.dark,
.button_action.dark {
    background-color: #111;
}

button.light,
.button_action.light {
    background-color: #fff;
}

.button_action.dark:hover,
button.dark:hover {
    background-color: #222;
}

.button_action.light:hover,
button.light:hover {
    background-color: #ddd;
}

.clickable.light:hover,
code.light:hover,
.outer_url:hover,
a.light:hover,
menu a.light:hover,
.internalLink.light:hover {
    background-color: #ddd;
}

.clickable:hover,
code:hover,
.outer_url:hover,
a:hover,
menu a:hover,
.internalLink:hover {
    background-color: #222;
}

.cursorPointer {
    cursor: pointer;
}

.extra {
    font: 18px Verdana, sans-serif;
    text-decoration: none;
    border: 1px solid #222;
    padding: 8px;
}

.active {
    border: 1px solid #0f0;
    padding: 7px;
}

.float-right {
    float: right;
}

.gray {
    color: gray;
}

.green {
    color: #0f0;
}

.hidden {
    display: none;
}

.line-li {
    float: left;
    margin: 1px;
}

.line-li-right {
    float: right;
    margin: 1px;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.paddedLeft {
    padding-left: 5px;
}

.margin0padding0 {
    margin-left: 0;
    padding-left: 0;
}

.overflowing {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.padding2px {
    padding: 2px;
}

.primary {
    margin: 16px 32px;
    transition: opacity 2s;
    opacity: 1;
}

.red {
    color: #f00;
}

.wide_textarea {
    width: 100%;
    height: 50px;
}

.search_input {
    width: 100%;
}

.yellow {
    color: #ff0;
}

a:not(.outer_url),
a.dark:not(.outer_url) {
    text-decoration: none;
    color: #0f0;
}

a.light:not(.outer_url) {
    color: #00f;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

li.marginTop16px {
    margin-top: 16px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

.table_subtle th, .table_subtle td {
    border: none;
}

table th,
td {
    border: 1px solid;
}

td,
th {
    padding: 5px;
}

.no_border {
    border: 0;
}

ul.default {
    list-style-type: unset;
}

ul {
    list-style-type: none;
}

.spacedUl li {
    margin-top: 16px;
}

.maxed {
    display: table;
}

.max {
    width: 100%;
    height: 100%;
}

select,
input {
    width: 90%;
}

table.full_width {
    width: 100%;
    table-layout: fixed;
}

table.full_width td,
table.full_width tbody {
    /* word-break: break-all; */
    width: 100%;
}

body.dark {
    color: #fff;
    background-color: #111;
}

body.light {
    color: #111;
    background-color: #fff;
}

.outer_url {
    -webkit-appearance: button;
    -moz-appearance: button;
    /*appearance: button;*/
    font: 18px Verdana, sans-serif;
    border-width: 0;
    padding: 8px;
    display: inline-block;
    color: #07f;
    text-decoration: underline;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.text_align_right {
    text-align: right;
}

input.dark,
select.dark,
option.dark {
    background-color: #111;
    color: #fff;
}

input.light,
select.light,
option.light {
    background-color: #fff;
    color: #000;
}

input:invalid {
    border-color: #111;
    animation: flash_red_border 1s step-start infinite;
}

@keyframes flash_red_border {
    50% {
        border-color: #f00;
    }
}

.rop_tile {
    height: 26px;
    width: 26px;
    min-height: 26px;
    min-width: 26px;
    max-height: 26px;
    max-width: 26px;
    color: #000;
}

.rop_tile_south {
    height: 26px;
    width: 13px;
    min-height: 26px;
    min-width: 13px;
    max-height: 26px;
    max-width: 13px;
    color: #000;
}

.chess_tile {
    text-align: center;
    cursor: pointer;
    height: 26px;
    width: 26px;
    min-height: 26px;
    min-width: 26px;
    max-height: 26px;
    max-width: 26px;
}

.board_white {
    background-color: #666;
}

.board_black {
    background-color: #000;
}

.rop_workable_false {
    background-color: #666;
}

.rop_workable_true {
    background-color: #222;
}

.rop_tile_source {
    background-color: #000;
}

.rop_tile_watered {
    background-color: #0f0;
}

.rop_tile_pump {
    background-color: #00f;
}

.rop_tile_trench {
    background-color: #ff0;
}

.rop_tile_extender {
    background-color: #f00;
}

.vertical_align_top {
    vertical-align: top;
}

.input_search {
    width: 100%;
    color: #fff;
    border: 0;
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
    height: 30px;
}

.border1px.dark {
    border: 1px #ccc solid;
}

.border1px.light {
    border: 1px #333 solid;
}

td ul {
    margin-left: 3px;
    padding-left: 3px;
}

td ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}

.columns {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 500px);
}

.width100 {
    width: 100%;
}

.clipboard_able,
.clipboard_able_subtle,
.clipboard_able_special {
    cursor: copy;
}

.padding8px {
    padding: 8px;
}

.tooltip .tooltip_text {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    transition: opacity 2s;
    padding: 5px;
    opacity: 0;
    background-color: black;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}

.dotted_underline {
    border-bottom: 1px dotted;
}

.preservingSpaces {
    white-space: break-spaces;
}

h1 a, h2 a {
    padding: 16px;
}

#root {
    padding-bottom: 60px;
}

.nav {
    padding: 16px;
}

ul.inline-block li {
    display: inline-block;
}

@media screen and (min-width: 1000px) {
    .main {
        padding-left: calc((100vw - 1000px) / 2);
        padding-right: calc((100vw - 1000px) / 2);
    }
}

@media screen and (min-width: 1250px) {
    .main_column_grid {
        display: grid;
        grid-template-columns: 250px min(1000px, 100%) 1fr;
    }

    .table_of_content {
        position: sticky;
        top: 32px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1500px) {
    .main_column_grid {
        display: grid;
        grid-template-columns: 1fr min(1000px, 100%) 1fr;
    }
}